<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - Tin tức</title>
</head>

<body>
    <main>
        <div class="container" >
            <div class="row text-center">
                <h1>TIN TỨC THỜI TRANG</h1>
            </div>
            <div class="row mt-5">
                <h3>TƯỞNG NHỚ MARC BOHAN VÀ MỘT KỶ NGUYÊN GẮN BÓ CÙNG DIOR</h3>
            </div>
            <div class="row mt-2"  >
                <img src="/images/news/news1.png"  alt="">
            </div>
            <div class="row mt-3">
                <p>
                    Sinh ra tại trung tâm thời trang Paris vào năm 1926, Marc Bohan gắn liền với những đường may và sợi chỉ từ khi còn trẻ. Mẹ ông, một thợ may lành nghề, đã sớm truyền cho ông niềm yêu thích ......
                </p>
            </div>
            <div class="row mt-3" style="background-color: #7F7FD5;color: #fff; padding:15px;border-radius:8px;">
                <p style="font-size:17px;font-weight: bold;">Nhóm thực hiện</p>
                <hr>
                <p>Nguồn: Tạp chí phái đẹp ELLE</p>
            </div>
            <div class="row mt-4">
                <p>Bài viết liên quan</p>
                <div class="row news-other">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/news/news1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text  text-wrap--2">Sinh ra tại trung tâm thời trang Paris vào năm 1926, Marc Bohan gắn liền với những đường may và sợi chỉ từ khi còn trẻ. Mẹ ông, một thợ may lành nghề, đã sớm truyền cho ông niềm yêu thích</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/news/news1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text  text-wrap--2">Sinh ra tại trung tâm thời trang Paris vào năm 1926, Marc Bohan gắn liền với những đường may và sợi chỉ từ khi còn trẻ. Mẹ ông, một thợ may lành nghề, đã sớm truyền cho ông niềm yêu thích</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/news/news1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text  text-wrap--2">Sinh ra tại trung tâm thời trang Paris vào năm 1926, Marc Bohan gắn liền với những đường may và sợi chỉ từ khi còn trẻ. Mẹ ông, một thợ may lành nghề, đã sớm truyền cho ông niềm yêu thích</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>