<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - Tin tức</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row text-center">
                <h1>TIN TỨC THỜI TRANG</h1>
            </div>
            <div class="row mt-5">
                <a th:href="@{/news/detail}" style="text-decoration:none; ">
                    <div class="card mb-3" style="width: 100%; border: none;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/images/news/news1.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 ">
                                <div class="card-body">
                                    <h5 class="card-title">TƯỞNG NHỚ MARC BOHAN VÀ MỘT KỶ NGUYÊN GẮN BÓ CÙNG DIOR</h5>
                                    <p class="card-text text-wrap--2">
                                        Thế giới thời trang vừa gửi lời tạm biệt đến một huyền thoại - NTK kiêm cựu Giám
                                        đốc sáng tạo.
                                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                    </p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row mt-5">
                <div class="card mb-3" style="width: 100%; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/news/news1.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body">
                                <h5 class="card-title">TƯỞNG NHỚ MARC BOHAN VÀ MỘT KỶ NGUYÊN GẮN BÓ CÙNG DIOR</h5>
                                <p class="card-text text-wrap--2">
                                    Thế giới thời trang vừa gửi lời tạm biệt đến một huyền thoại - NTK kiêm cựu Giám đốc
                                    sáng tạo.
                                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="card mb-3" style="width: 100%; border: none;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/news/news1.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body">
                                <h5 class="card-title">TƯỞNG NHỚ MARC BOHAN VÀ MỘT KỶ NGUYÊN GẮN BÓ CÙNG DIOR</h5>
                                <p class="card-text text-wrap--2">
                                    Thế giới thời trang vừa gửi lời tạm biệt đến một huyền thoại - NTK kiêm cựu Giám đốc
                                    sáng tạo.
                                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="justify-content: center;">
                        <li class="page-item">
                            <a class="page-link text-dark" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link text-dark" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</body>

</html>