<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - chi tiết sản phẩm</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-center">
                    <img src="/images/product/product1.png" alt="">
                    <div class="product-thumbnail mt-3">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="product-detail-title">
                        Áo thun DAVIES phong cách freestyle NAM NỮ đều mặc được
                    </p>
                    <ul class="product-detail-rate">
                        <li>4.0 * <span>|</span></li>
                        <li>15 đã bán<span>|</span></li>
                        <li>8 đánh giá</li>
                    </ul>
                    <div class="product-detail-price mb-3">
                        đ255.000 - đ325.000
                    </div>
                    <div class="product-detail-variant">
                        <p>Phân loại</p>
                        <section class="product-detail-variant--size">
                            <h3 class="size-title">Size:</h3>
                            <div class="product-detail-variant--size-list">
                                <button>S</button>
                                <button>M</button>
                                <button>L</button>
                            </div>
                        </section>
                        <section class="product-detail-variant--color">
                            <h3 class="color-title">Màu sắc:</h3>
                            <div class="product-detail-variant--color-list">
                                <button>Đen</button>
                                <button>Trắng</button>
                            </div>
                        </section>

                    </div>
                    <div class="product-detail-quantity mt-3">
                        <h3 class="quantity-title">Số lượng</h3>
                        <div class="quantity buttons_added ms-4">
                            <input id="minus" type="button" value="-" class="minus">
                            <input id="inputQuantity" type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                            <input id="plus" type="button" value="+" class="plus">
                        </div>
                        <h3 class="product-quantity-remaining">Còn lại : 100</h3>
                    </div>
                    <div class="product-detail-button mt-3">
                        <button class="btn add-cart"><i class="bi bi-cart"></i> Thêm giỏ hàng</button>
                        <button class="btn btn-danger">Mua ngay</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <p>MÔ TẢ SẢN PHẨM</p>
                <img src="/images/product/mota.png" alt="">
                <p class="description mt-3">
                    Sinh ra tại trung tâm thời trang Paris vào năm 1926, Marc Bohan gắn liền với những đường may và sợi chỉ từ khi còn trẻ. Mẹ ông, một thợ may lành nghề, đã sớm truyền cho ông niềm yêu thích thiết kế thời trang .
                </p>
            </div>
            <div class="row mt-3">
                <p>ĐÁNH GIÁ SẢN PHẨM</p>
                <section class="desc-rating">
                    <h3 class="desc-rating--title">4.0 *</h3>
                    <div class="desc-rating--button">
                        <button>Tất cả</button>
                        <button>5 sao</button>
                        <button>4 sao</button>
                        <button>3 sao</button>
                        <button>2 sao</button>
                        <button>1 sao</button>
                    </div>
                </section>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    <img class="cust-avatar" src="/images/users/avatar2.png" alt="">
                    <div class="cust-infor" >
                        <p class="cust-fullname">Tên người dùng</p>
                        <p class="rate-date">
                            2023-09-24 10:32
                        </p>
                        <p class="rate-star">
                            ****
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <p class="rate-comment">
                        Thấy vậy thôi chứ áo rất chất lượng nha mọi người. Vải tốt. Kiểu dáng đơn giản hiện đại. Shop tư vấn nhiệt tình. Quan trọng là giao hàng siêu nhanh giữa mùa dịch.
                    </p>
                    <div class="product-thumbnail mt-3">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                    </div>
                    <div class="rate-btn mt-3">
                        <i class="bi bi-hand-thumbs-up"></i> <span>5</span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    <img class="cust-avatar" src="/images/users/avatar2.png" alt="">
                    <div class="cust-infor" >
                        <p class="cust-fullname">Tên người dùng</p>
                        <p class="rate-date">
                            2023-09-24 10:32
                        </p>
                        <p class="rate-star">
                            ****
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <p class="rate-comment">
                        Thấy vậy thôi chứ áo rất chất lượng nha mọi người. Vải tốt. Kiểu dáng đơn giản hiện đại. Shop tư vấn nhiệt tình. Quan trọng là giao hàng siêu nhanh giữa mùa dịch.
                    </p>
                    <div class="product-thumbnail mt-3">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                    </div>
                    <div class="rate-btn mt-3">
                        <i class="bi bi-hand-thumbs-up"></i> <span>5</span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    <img class="cust-avatar" src="/images/users/avatar2.png" alt="">
                    <div class="cust-infor" >
                        <p class="cust-fullname">Tên người dùng</p>
                        <p class="rate-date">
                            2023-09-24 10:32
                        </p>
                        <p class="rate-star">
                            ****
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <p class="rate-comment">
                        Thấy vậy thôi chứ áo rất chất lượng nha mọi người. Vải tốt. Kiểu dáng đơn giản hiện đại. Shop tư vấn nhiệt tình. Quan trọng là giao hàng siêu nhanh giữa mùa dịch.
                    </p>
                    <div class="product-thumbnail mt-3">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                    </div>
                    <div class="rate-btn mt-3">
                        <i class="bi bi-hand-thumbs-up"></i> <span>5</span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    <img class="cust-avatar" src="/images/users/avatar2.png" alt="">
                    <div class="cust-infor" >
                        <p class="cust-fullname">Tên người dùng</p>
                        <p class="rate-date">
                            2023-09-24 10:32
                        </p>
                        <p class="rate-star">
                            ****
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <p class="rate-comment">
                        Thấy vậy thôi chứ áo rất chất lượng nha mọi người. Vải tốt. Kiểu dáng đơn giản hiện đại. Shop tư vấn nhiệt tình. Quan trọng là giao hàng siêu nhanh giữa mùa dịch.
                    </p>
                    <div class="product-thumbnail mt-3">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                        <img src="/images/product/product1.png" alt="" style="width: 20%; border: 1px solid #000;">
                    </div>
                    <div class="rate-btn mt-3">
                        <i class="bi bi-hand-thumbs-up"></i> <span>5</span>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="justify-content: center;">
                        <li class="page-item">
                            <a class="page-link text-dark" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link text-dark" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <hr>
            <div class="row mt-4">
                <p>SẢN PHẨM LIÊN QUAN</p>
                <div class="row product-other">
                    <div class="col-md-3">
                        <div class="card" style="width: 100%;">
                            <img src="/images/product/product1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-wrap--2">Áo sơ mi Việt Tiến(Hàng chính hãng)</h5>
                              <p class="card-text mt-2">đ299.000</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 100%;">
                            <img src="/images/product/product1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-wrap--2">Áo sơ mi Việt Tiến(Hàng chính hãng)</h5>
                              <p class="card-text mt-2">đ299.000</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 100%;">
                            <img src="/images/product/product1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-wrap--2">Áo sơ mi Việt Tiến(Hàng chính hãng)</h5>
                              <p class="card-text mt-2">đ299.000</p>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 100%;">
                            <img src="/images/product/product1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-wrap--2">Áo sơ mi Việt Tiến(Hàng chính hãng)</h5>
                              <p class="card-text mt-2">đ299.000</p>
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>
</body>

</html>