<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:fragment="header" style="border-bottom: 1px solid #86A8E7;">
        <div class="app_header">
            <ul class="app_header_contact">
                <li><i style="color: #7F7FD5;" class="fa fa-phone" aria-hidden="true"></i>
                    0862151111
                </li>
                <li><i style="color: #7F7FD5;" class="fa fa-envelope" aria-hidden="true"></i>
                    evolteam@gmail.com
                </li>
            </ul>
            <ul class="app_header_link">
                <li><a href="">Sản phẩm</a></li>
                <li><a th:href="@{|/news|}">Tin tức</a></li>
                <li><a th:href="@{|/contact|}">Liên hệ</a></li>
            </ul>
            <ul class="app_header_login">
                <li><a th:href="@{|/sign-up|}" >Đăng ký</a></li><span style="color:#86A8E7;">|</span>
                <li><a th:href="@{|/login|}" >Đăng nhập</a> </li>       
            </ul>
        </div>
        <hr style="border: 1px solid #86A8E7;margin-top:5px; margin-bottom:0;">
        <nav class="navbar app_header_nav">
            <div class="container-fluid">
                <ul class="row">
                    <li class="col-md-2">
                        <a class="navbar-brand" th:href="@{|/home/index|}">
                            <img th:src="@{/images/logo/logoshop.png}" alt="" width="30" height="24"
                            class="d-inline-block align-text-top">
                            <span style="font-weight: 400;size: 19px;line-height:24.74px;color: #7F7FD5;">evolgroup.com</span>
                        </a>
                    </li>
                    <li class="col-md-9">
                        <div class="input-group app_header_nav--search">
                            <select style="background-color: #fff;" name="categories" class="input-group-text" id="basic-addon1">
                                <option>Danh mục </option>
                            </select>
                            <input type="text" id="header_nav--search" class="form-control" placeholder="Tìm kiếm sản phẩm" aria-label="search"
                            aria-describedby="basic-addon1"/>
                        </div>
                    </li>
                    <li class="col-md-1 header_nav_cart">
                        <a href="/cart">
                            <img th:src="@{/images/design/cart.png}" alt="">
                        </a>
                        <ul class="header_nav_cart--list">
                            <li><img src="/images/design/empty_cart.png" alt=""></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>

</html>