<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::areas(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - Danh sách địa chỉ</title>
</head>
<body>
<main>
    <div class="row m-5">
        <section th:replace="~{/user/management/section::section}"> </section>
        <article class="col-md-8 " style="background-color: #d9d9d9; border-radius: 10px;">
            <h1>address</h1>
        </article>
    </div>
</main>
</body>
</html>