<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/layout::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - Thông tin tài khoản</title>
</head>

<body>
    <main>
        <div class="row m-5">
            <section th:replace="~{/user/management/section::section}"> </section>
            <article class="col-md-8 " style="background-color: #d9d9d9; border-radius: 10px;">
                <div class="row" style="align-items: center;">
                    <div class="col-md-3 mt-3 profile-upload">
                        <img class="cust-avatar" src="/images/users/avatar2.png" style="width: 100%;height:auto;">
                        <label for="fileInput">
                            <i class="bi bi-pen-fill"></i>
                        </label>
                        <input type="file" name="file" id="fileInput" style="display: none;">
                    </div>
                    <div class="col-md-9 mt-3 pe-5 ps-5 profile-form" >
                        <div class="mb-3 d-flex" >
                            <label for="">Họ và tên :</label>
                            <input type="text" name="fullname" id="fullname" style="width: 50%;">
                        </div>
                        <div class="mb-3 d-flex" >

                            <label for="">Email :</label>
                            <input type="email" name="email" id="email" style="width: 50%;">
                        </div>
                        <div class="mb-3 d-flex" >
                            <label for="">Số điện thoại :</label>
                            <input type="text" name="phoneNumber" id="phoneNumber" style="width: 50%;">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="mb-3 d-flex" >
                        <label for="">Ngày sinh :</label>
                        <select id="date-day">
                            <option value="">Day</option>
                        </select>
                        <select id="date-month" onchange="changeMonth()">
                            <option value="">Month</option>

                        </select>
                        <select id="date-year" onchange="changeYear()">
                            <option value="">Year</option>

                        </select>
                    </div>
                </div>
            </article>
        </div>
        <script src="/js/profile.js"></script>
    </main>
</body>

</html>